/* Basic styles for the application */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    overflow-x: hidden;
    display: block;
    padding: 0;
    margin: 0;
}

#hidden{
    display: none;
}

/* PopUp styles */

.popups {
    max-width: 25vw;
    margin: auto;
    margin-top: 25vh;
    padding: 20px;
    flex: 1;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

[id*="_diraction"] {
    min-width: 4vw;
    min-height: 3vh;
    background-color: #8A4FFF;
    color: white;
    border: none;
    padding: 1vh 1vw;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  [id*="_diraction"]:hover {
    background-color: #7634fa;
  }

/* Login styles */

#login-container {
    max-width: 25vw;
    margin: auto;
    margin-top: 25vh;
    padding: 20px;
    flex: 1;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#login-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

#login-form {
    display: flex;
    flex-direction: column;
}

#login-form label {
    margin-bottom: 5px;
}

#login-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#login-form button {
    padding: 10px;
    background-color: #8A4FFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#login-form button:hover {
    background-color: #7634fa;
}

#error-message {
    text-align: center;
    margin-top: 10px;
}

/* Header styles */

header {
    background-color: #E5ECF4; /* Light gray background */
    height: 8vh;
    display: flex; /* Use flexbox for easy alignment */
    justify-content: space-between; /* Space between left and right elements */
    align-items: center; /* Vertically center items */
  }
  
  /* Logout Button Styling */
  #logout-button {
    min-width: 4vw;
    min-height: 3vh;
    background-color: #8A4FFF;
    color: white;
    border: none;
    padding: 1vh 1vw;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #logout-button:hover {
    background-color: #7634fa;
  }


/* Sidebar styles */

.sidebar {
    min-width: 10vw;
    background-color: #C3BEF7;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#currentDir {
    font-weight: bold;
    color: #333;
    font-size: 16px;
    padding: 10px 20px; /* Add padding for space around text */
    background-color: #f0f0f0; /* Light gray background */
    border-radius: 5px; /* Rounded corners */
    display: inline-block; /* Make it a block element for styling */
    margin-top: auto;
    margin-bottom: 10vh;
  }


/* Media styles */

video{
    max-width: 500px;
    max-height: 500px;
}

image{
    max-width: 500px;
    max-height: 500px;
}